<div id="logo">
	<a href="#top">
		<h1>Meerkatalyst Ruby on Rails Demo</h1>
	</a>
</div>
<h1>Meerkatalyst Ruby on Rails Demo</h1>
<p>Demo application to show Meerkatalyst testing and deploying a Rails application</p>